header {
  background-color: #1d2441;

  .navbar-brand {
    padding: 0;

    .logo {
      height: 3rem;
    }
  }

  nav {
    gap: 0.25rem;

    .navbar-toggler {
      border: none;
      color: var(--ds-header-icon-color);
    }
  }
}
