.navbar-toggler .navbar-toggler-icon {
    background-image: none !important;
    line-height: 1.5;
}


.navbar ::ng-deep {
  a {
    color: $header-icon-color;

    &:hover,
    &focus {
      color: $yellow;
    }
    &.active {
      color: white;
    }
  }
}

.navbar ::ng-deep a.dropdown-item:hover {
  color: white;
}

.navbar-brand img {
  &.digilab-logo {
    width: 173px;
    height: 35px;
    margin-top: 70px;
  }
  &.bmk-logo {
    width: 181px;
    height: 136px;
  }
}

