<div *ngVar="playlist$ | async as playlist">
  <!-- <div *ngFor="let item of playlist; let index"> -->
    <!-- <video *ngIf="item.video" controls>
      <source [src]="item.video" />
    </video> -->
    <img *ngIf="playlist.lenght > 0" [src]="playlist[0].image || playlist[0].video" (click)="showLightbox(0)" />
    <span>{{playlist[0].image || playlist[0].video}}</span>
    <ng-image-fullscreen-view
      [images]="playlist"
      [imageIndex]="currentIndex"
      [show]="showFlag"
      (close)="closeEventHandler()"
    ></ng-image-fullscreen-view>
  <!-- </div> -->
</div>
