:host {
  --ds-icon-z-index: 10;
  z-index: var(--ds-sidebar-z-index);

  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  flex: 1 1 auto;

  nav {
    background-color: $primary;
    height: 100%;
    flex-direction: column;

    > div {
      width: 100%;

      &.sidebar-top-level-items {
        flex: 1;
        overflow: auto;
        overflow-x: hidden;
        @include dark-scrollbar;
      }
    }

    &.collapsed {
      .sidebar-collapsible {
        margin-left: calc(-1 * 15rem);
      }
    }

    .navbar-nav {
      .admin-menu-header {
        background-color: $dark;

        .sidebar-section {
          background-color: inherit;
        }

        .logo-wrapper {
          img {
            height: 20px;
          }
        }
        .section-header-text {
          line-height: 1.5;
        }

        .navbar-brand {
          margin-right: 0;
        }
      }

      ::ng-deep {
        .sidebar-section-wrapper,
        .sidebar-section {
          display: flex;
          align-content: stretch;
          overflow-x: visible;
          padding-top: var(--bs-spacer);
          padding-bottom: var(--bs-spacer);
          color: #ffffff80;
          text-decoration: none;

          &:focus-visible {
            // since links fill the whole sidebar, we _inset_ the outline
            outline-offset: -4px;

            // replace padding with margins so it doesn't extend over the :focus-visible outline
            //  → can't remove the padding altogether; the icon needs to fill out
            //    the collapsed width of the sidebar for the slide animation to look decent.
            .sidebar-fixed-element-wrapper,
            .shortcut-icon {
              padding-left: 0;
              padding-right: 0;
              margin-left: 1rem;
              margin-right: 1rem;
            }

            .logo-wrapper {
              margin-right: var(--bs-navbar-padding-x) !important;
            }

            .navbar-brand {
              padding-top: 0;
              padding-bottom: 0;
              margin-top: var(--bs-navbar-brand-padding-y);
              margin-bottom: var(--bs-navbar-brand-padding-y);
            }
          }

          &:hover {
            color: #fff;
          }

          .sidebar-fixed-element-wrapper,
          .shortcut-icon {
            background-color: inherit;
            padding-left: 1rem;
            padding-right: 1rem;
            z-index: var(--ds-icon-z-index);
            align-self: baseline;
          }

          .sidebar-collapsible-element-outer-wrapper,
          .sidebar-collapsible {
            padding-left: 0;
            padding-right: var(--bs-spacer);
            width: 15rem;
            position: relative;

            .sidebar-collapsible-element-inner-wrapper,
            .toggler-wrapper {
              width: 15rem;
              padding-right: var(--bs-spacer);
            }

            ul {
              padding-top: var(--bs-spacer);

              li a {
                padding-left: var(--bs-spacer);
              }
            }
          }

          &.active > .sidebar-collapsible-element-outer-wrapper > .nav-link {
            color: white;
          }
        }
      }
    }
  }

  .admin-section {
    display: flex;
    align-content: stretch;
    background-color: $dark;
  }

  .admin-logo {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
