<div class="d-flex flex-row community-list">
  @if (linkType !== linkTypes.None) {
    <a
      [target]="linkType === linkTypes.ExternalLink ? '_blank' : '_self'"
      [attr.rel]="
        linkType === linkTypes.ExternalLink ? 'noopener noreferrer' : null
      "
      [routerLink]="['/communities/' + object.id]"
      class="lead"
    >
      <img class="mx-2" src="/assets/szerep/images/communityIcon.svg" />
      {{ dsoNameService.getName(object) }}
    </a>
  }
  @if (linkType === linkTypes.None) {
    <span class="lead">
      {{ dsoNameService.getName(object) }}
    </span>
  }
  @if (object.archivedItemsCount >= 0) {
    <span
      class="badge rounded-pill bg-secondary align-self-center archived-items-lead ps-2 pe-2"
      >{{ object.archivedItemsCount }}</span
    >
  }
</div>
