:host {
  display: block;
  margin-top: calc(-1 * var(--ds-content-spacing));
  margin-bottom: calc(-1 * var(--ds-content-spacing));
}

.display-3 {
  word-break: break-word;
  font-size: 2rem;
  color: var(--blue);
  font-family: "Varela", system-ui;
  font-weight: 400;
  margin-bottom: 1.5rem;
}

.jumbotron {
  height: clamp(18rem, 28vw, 32rem);

  display: grid;
  align-items: center;
  box-shadow: inset 0 11px 8px -10px #ccc;

  background-image: url("/assets/elte/images/banners/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 65%;

  .wrapper {
    width: 100%;
    background-color: rgba(#fff, 0.8);
    padding-block: 2.25rem;

    p { margin-bottom: 0; }
  }
}

a {
  color: var(--ds-home-news-link-color);

  @include hover {
    color: var(--ds-home-news-link-hover-color);
  }
}
