<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>{{'item.edit.copy.head' | translate: {id: (itemRD$ | async)?.payload?.handle} }}</h2>
            <p>{{'item.edit.copy.description' | translate}}</p>
            <div class="row">
                <div class="col-12">
                    <ds-dso-input-suggestions #f id="search-form"
                                          [suggestions]="(collectionSearchResults | async)"
                                          [placeholder]="'item.edit.copy.search.placeholder'| translate"
                                          [action]="getCurrentUrl()"
                                          [name]="'item-move'"
                                          [(ngModel)]="selectedCollectionName"
                                          (clickSuggestion)="onClick($event)"
                                          (typeSuggestion)="resetCollection($event)"
                                          (findSuggestions)="findSuggestions($event)"
                                          (click)="f.open()"
                                          ngDefaultControl>
                    </ds-dso-input-suggestions>

                </div>
            </div>                                           
            <button (click)="copyCollection()" class="btn btn-primary" [disabled]=!canSubmit>
                <span *ngIf="!processing"> {{'item.edit.copy.copy' | translate}}</span>
                <span *ngIf="processing"><i class='fas fa-circle-notch fa-spin'></i>
                    {{'item.edit.copy.processing' | translate}}
                </span>
            </button>
            <button [routerLink]="['/items/', (itemRD$ | async)?.payload?.id]"
                    class="btn btn-outline-secondary">
                {{'item.edit.copy.cancel' | translate}}
            </button>
        </div>
    </div>
</div>
