// Add any global css for the theme here

// imports the base global style
@import "../../../styles/_global-styles.scss";

.form-control:focus {
  outline: none;
}

.btn.btn-secondary:focus,
.btn.btn-primary:focus,
.btn:focus,
*:focus-visible,
*:focus {
  outline: none !important;
}

.lead {
  font-weight: 400;
}

.badge {
  font-weight: 500;
}

a,
.btn-link {
  color: var(--primary);
}
