// Override or add CSS variables for your theme here

:root {
  --ds-dark-scrollbar-bg: $dark;
  --ds-dark-scrollbar-alt-bg: $dark;
  --ds-dark-scrollbar-fg: #97b513;
  --ds-navbar-link-color: #fff;
  --ds-navbar-link-color-hover: #fff;
  --ds-header-icon-color: #fff;
  --ds-header-icon-color-hover: #fff;
  --ds-admin-sidebar-bg: var(--primary);
  --ds-home-news-link-color: var(--primary);
}
