// Override or add CSS variables for your theme here

:root {
  --ds-dark-scrollbar-bg: #012850;
  --ds-dark-scrollbar-alt-bg: #012850;
  --ds-dark-scrollbar-fg: #b9956f;
  --ds-navbar-link-color: #ffffff;
  --ds-navbar-link-color-hover: #b9956f;
  --ds-navbar-bg: #012850;
  --ds-breadcrumb-bg: #b9956f !important;
  --ds-expandable-navbar-bg: #012850;
  --ds-header-icon-color: #ffffff;;
  --ds-admin-sidebar-bg: #012850;
  --ds-admin-sidebar-header-bg: #0d4480;
  --ds-home-news-link-color: #012850;
  --elte-blue: #012850;
  --elte-tan: #CEAF87;
}
