// Add any global css for the theme here

// imports the base global style
@import "../../../styles/_global-styles.scss";

.form-control:focus {
  outline: none;
}

.btn.btn-secondary:focus,
.btn.btn-primary:focus,
.btn:focus,
*:focus-visible,
*:focus {
  outline: none !important;
}

.lead {
  font-weight: 400;
}

.badge {
  font-weight: 500;
}

a,
.btn-link {
  color: var(--primary);
}

ds-themed-auth-nav-menu .dropdown-toggle::after {
  display: inline-block !important;
  margin-left: .255em !important;
  vertical-align: .255em !important;
  content: "" !important;
  border-top: .3em solid !important;
  border-right: .3em solid rgba(0, 0, 0, 0) !important;
  border-bottom: 0 !important;
  border-left: .3em solid rgba(0, 0, 0, 0) !important;
}

ds-listable-object-component-loader .d-flex.flex-row {
  padding-bottom: 1rem !important;
}
