footer {
  display: grid;
  min-height: 4rem;
  padding: 0.25rem;
  background-color: var(--elte-blue);
  color: #ffff;
  grid-template-columns: 2fr 1fr 2fr;
  place-items: center;
  text-align: center;

  .logo {
    margin: 0 1rem;
    justify-self: end;

    img {
      vertical-align: middle;
    }
  }

  .rrf-logo {
    display: flex;
    align-items: center;
    font-size: 0.75rem;
    margin: 0 1rem;
    justify-self: end;

    img {
      height: 3.5rem;
    }
  }
}
