@media screen and (min-width: map-get($grid-breakpoints, md)) {
  .header {
    background-color: var(--ds-header-bg);
  }
}

.navbar-brand img {
  @media screen and (max-width: map-get($grid-breakpoints, md)) {
    height: var(--ds-header-logo-height-xs);
  }
}

nav {
  ::ng-deep {
    ::ng-deep {
      .dropdown-toggle {
        padding-right: 0.25rem;
        padding-left: 0.25rem;
      }
    }
  }
}
