<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="d-flex flex-wrap">
      <div>
        <h1>
          Üdvözöljük a
          <a href="http://konyvtar.bmk.hu/">Békés Megyei Könyvtár</a>
          <a href="http://digilabor.bmk.hu/"><i>Digilabor</i></a> alkalmazásának
          adminisztrációs felületén!
        </h1>
        <p class="lead">
          Bejelentkezés után lehetősége nyílik digitális tartalmak (kép- és
          videófájlok, hangzóanyagok és szöveges dokumentumok) feltöltésére,
          tárolására, bejelentkezett felhasználókkal való megosztására, valamint
          a <a href="http://digilabor.bmk.hu">www.digilabor.bmk.hu</a>-n történő
          közzétételére.
        </p>
        <p>
          Ha még nincs felhasználói fiókja vagy a Digilabor használatára
          vonatkozó információra lenne szüksége, kérjük, lépjen kapcsolatba
          munkatársainkkal a
          <a
            href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=digilabor@bmk.hu"
            target="_blank"
            >digilabor@bmk.hu</a
          >
          e-mailcímen.
        </p>
      </div>
    </div>
  </div>
</div>
