<div class="background-image">
  <div class="container">
    <div class="jumbotron jumbotron-fluid">
      <div class="d-flex flex-wrap">
        <div>
          <h1 class="display-3">Identitás- és Kultúrakutató Központ</h1>
          <p class="lead">Üdvözöljük az oldalon! Ezt az adatbázist az SZTE BTK-n működő Identitás- és Kultúrakutató
            Központ hozta létre és kezeli. Alapja az a kutatás, amelyet 2017 és 2021 között folytattunk az
            EFOP-3.6.2-16-2017-00007 számú, „Az intelligens, fenntartható és inkluzív társadalom fejlesztésének
            aspektusai” című projekt A csoport-, nemzeti, európai és vallási identitás összefüggéseinek szerepe a
            politikai és vallási radikalizálódásban, illetve a társadalmi innováció és integráció
            sikerességében című alprogramjának segítségével. Az adatbázist a kutatás résztvevői a kutatásvezető
            engedélyével használhatják.</p>
        </div>
      </div>
    </div>
  </div>
</div>
