@import "src/app/app.component.scss";


.btn-primary,
.btn-secondary,
.btn-light,
.btn-info {
  &:hover {
    background-color: $yellow;
    border-color: $yellow;
  }
  &:disabled {
    background-color: $dark;
    border-color: $dark;
  }
}

a,
.btn-link {
  &:hover {
    color: $yellow;
    text-decoration: none;
  }
  &.active {
    color: white;
  }
}

.breadcrumb {
  background-color: $light-gray-background;
}

.navbar-light .navbar-nav .nav-link {
  color: $blue;
  &.disabled {
    color: $dark;
  }
  &:hover {
    color: $yellow;
  }
}

.form-control,
.card {
  border-color: $dark;
}

.list-group-item-action:hover {
  color: white;
}

.dropdown-item:hover,
.dropdown-item:focus {
  color: white;
  .text-primary,
  .text-secondary {
    color: white !important;
  }
}

.modal-header {
  color: $blue;
}

.text-light {
  color: white !important;
}
